{%extends 'base.html'%}
{% block title %}
    Ekart| Pets
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-9">
        <h5 class="bg-danger text-white p-2">Customer Details</h5>
        <br>
        <h5 class="bg-danger text-white p-2">Cart Details</h5>

        {% for x in items %}
        <div class="row m-3">
            <div class="col-md-4"> 
                <img src="{{x.pets.image.url}}" alt="image" width="100%" height="200px">
            </div>
            <div class="col-md-8">
                <p><b>Product Name:</b>&nbsp;&nbsp;{{x.pets.pet_name}}</p>
                <p><b>Product Price:</b>&nbsp;&nbsp;{{x.pets.price}}</p>
                <p><b>Product Quantity:</b></p>
                <a href="/updateqty/0/{{x.pets.pet_id}}"><button class="btn btn-danger">-</button></a>
                <input readonly="readonly" type="number" value="{{x.quantity}}" readonly>
                <a href="/updateqty/1/{{x.pets.pet_id}}"><button class="btn btn-danger">+</button></a>
                <p><b>Product Details:</b>{{x.pets.desc}}</p>
                <a href="/remove/{{x.pet_id}}"><button type="submit" class="btn btn-danger">Remove</button></a>
                <a href=""><button type="submit" class="btn btn-danger">Buy</button></a>  
            </div>
        </div>
    {% endfor %}
</div>
<div class="col-md-3">
    <h5 class="bg-danger text-white p2">Total</h5>
    <p><b>Total items:</b>&nbsp;&nbsp;{{length}}</p>
    <p><b>Total Amount:</b>&nbsp;&nbsp;{{total}}</p>
</div>
</div>
{% endblock %}